<section class="fixed inset-0 z-50 flex items-center justify-center flex-wrap py-28 bg-neutral-500 bg-opacity-80 overflow-y-auto">
  <div class="container px-4 mx-auto">
    <div class="relative pt-16 pb-20 px-16 text-center bg-white rounded-xl shadow-3xl">
      <h2 class="font-heading mb-2 text-4xl text-center font-bold rounded-xl">Welcome To LensFriendsApp</h2>
      <p class="mb-11 text-neutral-500">Countinue as a Shopper or Videographer/Photographer</p>
      <%= form_with(url: set_profile_state_users_profiles_path, method: :post, local: true, class: 'flex flex-wrap mb-9 -m-3') do |form| %>

          <div class="w-full sm:w-1/2 md:w-1/2 p-3">
            <%= form.hidden_field :is_creator, id: 'is_creator_hidden', value: '0' %>
            <div id="is_creator" class="p-8 h-full border rounded-xl hover:bg-gray-50">
              <div class="flex items-center justify-center mx-auto mb-6 w-14 h-14 bg-neutral-100 rounded-full">
                <svg width="30" height="30" viewbox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M23.75 26.25V27L23.75 27L23.75 26.25ZM6.25 26.25L6.24999 27H6.25V26.25ZM3.75001 25.5C3.3358 25.5 3.00001 25.8357 3 26.25C2.99999 26.6642 3.33578 27 3.74999 27L3.75001 25.5ZM11.25 7.99997C10.8358 7.99997 10.5 8.33576 10.5 8.74997C10.5 9.16418 10.8358 9.49997 11.25 9.49997V7.99997ZM12.5 9.49997C12.9142 9.49997 13.25 9.16418 13.25 8.74997C13.25 8.33576 12.9142 7.99997 12.5 7.99997V9.49997ZM11.25 13C10.8358 13 10.5 13.3358 10.5 13.75C10.5 14.1642 10.8358 14.5 11.25 14.5V13ZM12.5 14.5C12.9142 14.5 13.25 14.1642 13.25 13.75C13.25 13.3358 12.9142 13 12.5 13V14.5ZM17.5 7.99997C17.0858 7.99997 16.75 8.33576 16.75 8.74997C16.75 9.16418 17.0858 9.49997 17.5 9.49997V7.99997ZM18.75 9.49997C19.1642 9.49997 19.5 9.16418 19.5 8.74997C19.5 8.33576 19.1642 7.99997 18.75 7.99997V9.49997ZM17.5 13C17.0858 13 16.75 13.3358 16.75 13.75C16.75 14.1642 17.0858 14.5 17.5 14.5V13ZM18.75 14.5C19.1642 14.5 19.5 14.1642 19.5 13.75C19.5 13.3358 19.1642 13 18.75 13V14.5ZM26.25 27C26.6642 27 27 26.6642 27 26.25C27 25.8357 26.6642 25.5 26.25 25.5L26.25 27ZM8.75 4.5H21.25V3H8.75V4.5ZM23 6.25V26.25H24.5V6.25H23ZM7 26.25V6.25H5.5V26.25H7ZM21.25 4.5C22.2165 4.5 23 5.2835 23 6.25H24.5C24.5 4.45507 23.0449 3 21.25 3V4.5ZM8.75 3C6.95507 3 5.5 4.45507 5.5 6.25H7C7 5.2835 7.7835 4.5 8.75 4.5V3ZM3.74999 27L6.24999 27L6.25001 25.5L3.75001 25.5L3.74999 27ZM13.75 19.5H16.25V18H13.75V19.5ZM11.25 9.49997H12.5V7.99997H11.25V9.49997ZM11.25 14.5H12.5V13H11.25V14.5ZM17.5 9.49997H18.75V7.99997H17.5V9.49997ZM17.5 14.5H18.75V13H17.5V14.5ZM16.25 19.5C16.5261 19.5 16.75 19.7238 16.75 20H18.25C18.25 18.8954 17.3546 18 16.25 18V19.5ZM13.25 20C13.25 19.7238 13.4739 19.5 13.75 19.5V18C12.6454 18 11.75 18.8954 11.75 20H13.25ZM12.5 25.5H6.25V27H12.5V25.5ZM11.75 20V26.25H13.25V20H11.75ZM23.75 27L26.25 27L26.25 25.5L23.75 25.5L23.75 27ZM23.75 25.5H17.5V27H23.75V25.5ZM17.5 25.5H12.5V27H17.5V25.5ZM16.75 20V26.25H18.25V20H16.75Z" fill="#0C1523"></path>
                </svg>
              </div>
              <button>
                <h3 class="font-heading mb-3.5 text-lg font-semibold">Videographer/Photographer</h3>
                <p class="text-neutral-500">Continue as Videographer/Photographer</p>
              </button>
            </div>
          </div>
          <div class="w-full sm:w-1/2 md:w-1/2 p-3">
            <%= form.hidden_field :is_client, id: 'is_client_hidden', value: '0' %>
            <div id="is_client" class="p-8 h-full border rounded-xl hover:bg-gray-50">
              <div class="flex items-center justify-center mx-auto mb-6 w-14 h-14 bg-neutral-100 rounded-full">
                <svg width="30" height="30" viewbox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M10.5805 19.4194L10.0502 19.9498L10.0502 19.9498L10.5805 19.4194ZM19.4194 19.4194L19.9497 19.9498L19.9497 19.9498L19.4194 19.4194ZM11.2644 20.1033L11.7947 19.573L11.7947 19.573L11.2644 20.1033ZM12.4999 23.0862L11.7499 23.0862V23.0862H12.4999ZM18.7355 20.1033L18.2051 19.573L18.2051 19.573L18.7355 20.1033ZM17.4999 23.0862L18.2499 23.0862L18.2499 23.0862L17.4999 23.0862ZM14.9999 26.25L14.9999 25.5L14.9999 25.5L14.9999 26.25ZM12.0793 20.5C11.6651 20.5 11.3293 20.8358 11.3293 21.25C11.3293 21.6642 11.6651 22 12.0793 22V20.5ZM17.9205 22C18.3347 22 18.6705 21.6642 18.6705 21.25C18.6705 20.8358 18.3347 20.5 17.9205 20.5V22ZM15.7499 3.75C15.7499 3.33579 15.4141 3 14.9999 3C14.5857 3 14.2499 3.33579 14.2499 3.75H15.7499ZM14.2499 5C14.2499 5.41421 14.5857 5.75 14.9999 5.75C15.4141 5.75 15.7499 5.41421 15.7499 5H14.2499ZM23.4852 7.57538C23.7781 7.28249 23.7781 6.80761 23.4852 6.51472C23.1923 6.22183 22.7174 6.22183 22.4246 6.51472L23.4852 7.57538ZM21.5407 7.3986C21.2478 7.6915 21.2478 8.16637 21.5407 8.45926C21.8336 8.75216 22.3084 8.75216 22.6013 8.45926L21.5407 7.3986ZM26.25 15.7499C26.6642 15.7499 27 15.4141 27 14.9999C27 14.5857 26.6642 14.2499 26.25 14.2499V15.7499ZM25 14.2499C24.5858 14.2499 24.25 14.5857 24.25 14.9999C24.25 15.4141 24.5858 15.7499 25 15.7499V14.2499ZM5 15.7499C5.41421 15.7499 5.75 15.4141 5.75 14.9999C5.75 14.5857 5.41421 14.2499 5 14.2499V15.7499ZM3.75 14.2499C3.33579 14.2499 3 14.5857 3 14.9999C3 15.4141 3.33579 15.7499 3.75 15.7499V14.2499ZM7.39853 8.45926C7.69143 8.75216 8.1663 8.75216 8.4592 8.45926C8.75209 8.16637 8.75209 7.69149 8.4592 7.3986L7.39853 8.45926ZM7.57531 6.51472C7.28242 6.22182 6.80754 6.22182 6.51465 6.51472C6.22176 6.80761 6.22176 7.28249 6.51465 7.57538L7.57531 6.51472ZM11.1108 18.8891C8.96296 16.7412 8.96296 13.2588 11.1108 11.1109L10.0502 10.0503C7.31652 12.784 7.31652 17.2161 10.0502 19.9498L11.1108 18.8891ZM11.1108 11.1109C13.2587 8.96306 16.7411 8.96306 18.889 11.1109L19.9497 10.0503C17.216 7.31661 12.7839 7.31661 10.0502 10.0503L11.1108 11.1109ZM18.889 11.1109C21.0369 13.2588 21.0369 16.7412 18.889 18.8891L19.9497 19.9498C22.6834 17.2161 22.6834 12.784 19.9497 10.0503L18.889 11.1109ZM10.0502 19.9498L10.7341 20.6336L11.7947 19.573L11.1108 18.8891L10.0502 19.9498ZM11.7499 23.0862V23.75H13.2499V23.0862H11.7499ZM18.889 18.8891L18.2051 19.573L19.2658 20.6336L19.9497 19.9498L18.889 18.8891ZM16.7499 23.0862V23.75H18.2499V23.0862H16.7499ZM16.7499 23.75C16.7499 24.7165 15.9664 25.5 14.9999 25.5L14.9999 27C16.7949 27 18.2499 25.5449 18.2499 23.75H16.7499ZM18.2051 19.573C17.2734 20.5047 16.7499 21.7685 16.7499 23.0862L18.2499 23.0862C18.2499 22.1663 18.6154 21.2841 19.2658 20.6336L18.2051 19.573ZM11.7499 23.75C11.7499 25.5449 13.205 27 14.9999 27L14.9999 25.5C14.0334 25.5 13.2499 24.7165 13.2499 23.75H11.7499ZM10.7341 20.6336C11.3845 21.2841 11.7499 22.1663 11.7499 23.0862L13.2499 23.0862C13.2499 21.7685 12.7265 20.5047 11.7947 19.573L10.7341 20.6336ZM12.0793 22H17.9205V20.5H12.0793V22ZM14.2499 3.75V5H15.7499V3.75H14.2499ZM22.4246 6.51472L21.5407 7.3986L22.6013 8.45926L23.4852 7.57538L22.4246 6.51472ZM26.25 14.2499H25V15.7499H26.25V14.2499ZM5 14.2499H3.75V15.7499H5V14.2499ZM8.4592 7.3986L7.57531 6.51472L6.51465 7.57538L7.39853 8.45926L8.4592 7.3986Z" fill="#0C1523"></path>
                </svg>
              </div>
              <button>
                <h3 class="font-heading mb-3.5 text-lg font-semibold">Shopper</h3>
                <p class="text-neutral-500">Continue as Shopper</p>
              </button>
            </div>
          </div>
 
      <% end %>
      <a class="inline-flex px-6 py-4 text-sm text-neutral-50 font-medium bg-gradient-purple-left hover:bg-gradient-purple-left-dark rounded-lg transition duration-300" href="#">Get Started using LensFriendsApp</a>
    </div>
  </div>
</section>


<script>
  document.addEventListener('DOMContentLoaded', function() {
    document.getElementById('is_creator').addEventListener('click', function() {
      document.getElementById('is_creator_hidden').value = '1';
      document.getElementById('userProfileForm').submit();
    });

    document.getElementById('is_client').addEventListener('click', function() {
      document.getElementById('is_client_hidden').value = '1';
      document.getElementById('userProfileForm').submit();
    });
  });
</script>