<section class="py-24 bg-gray-100">
  <div class="container px-4 mx-auto">
    <div class="text-center mb-16">
      <h1 class="text-2xl md:text-4xl lg:text-5xl text-center !leading-tight uppercase mb-5" style="font-family: 'Playfair Display', serif !important;"> FREQUENTLY ASKED QUESTION </h1>
      <p class="leading-8 text-lg text-gray-700" style="font-family: 'Playfair Display', serif !important;">In case you had concerns, here are some frequently asked questions and answers to clear things up!</p>
    </div>

    <div class="pt-16 md:pt-24 px-8 sm:px-20 md:pb-24 pb-16 bg-white rounded-4xl shadow">
      <details>
        <summary class="text-xl font-semibold uppercase text-gray-900 ">Customers</summary>
        <div class="mt-16">
          <button class="flex mb-8 pb-8 group w-full items-start justify-between border-b border-gray-100 text-left">
            <div>
              <h3 class="text-xl font-semibold mb-3">What is LensFriends?</h3>
              <p class="text-lg text-gray-500">LensFriends is a platform connecting customers with professional photographers and videographers for various services, offering a convenient way to find the perfect match for your needs.</p>
            </div>
          </button>
          <button class="flex mb-8 pb-8 group w-full items-start justify-between border-b border-gray-100 text-left">
            <div>
              <h3 class="text-xl font-semibold text-black">What makes LensFriends different?</h3>
              <p class="mt-3 text-lg text-gray-500">LensFriends provides a hassle-free experience for customers to discover and connect with skilled professionals, offering a wide range of services tailored to your preferences, all at no cost to you.</p>
            </div>
          </button>
          <button class="flex mb-8 pb-8 group w-full items-start justify-between border-b border-gray-100 text-left">
            <div>
              <h3 class="text-xl font-semibold text-black">Who can use LensFriends?</h3>
              <p class="mt-3 text-lg text-gray-500">LensFriends is designed for anyone seeking photography or videography services, whether it's for personal or professional purposes.</p>
            </div>
          </button>
          <button class="flex mb-8 pb-8 group w-full items-start justify-between border-b border-gray-100 text-left">
            <div>
              <h3 class="text-xl font-semibold text-black">How much does LensFriends cost for customers?</h3>
              <p class="mt-3 text-lg text-gray-500">LensFriends is completely free for customers. You can create an account, set your search filters, and browse through professionals without any charges.</p>
            </div>
          </button>
          <button class="flex mb-8 pb-8 group w-full items-start justify-between border-b border-gray-100 text-left">
            <div>
              <h3 class="text-xl font-semibold text-black">How does it work?</h3>
              <p class="mt-3 text-lg text-gray-500">Simply create an account, set your preferences, browse through profiles, view availability, check pricing, and contact professionals directly through the platform.</p>
            </div>
          </button>
          <button class="flex mb-8 pb-8 group w-full items-start justify-between border-b border-gray-100 text-left">
            <div>
              <h3 class="text-xl font-semibold text-black">Where can I see a professionals availability?</h3>
              <p class="mt-3 text-lg text-gray-500">Availability information is displayed on each professional's profile, allowing you to find a suitable time for your needs.</p>
            </div>
          </button>
          <button class="flex mb-8 pb-8 group w-full items-start justify-between border-b border-gray-100 text-left">
            <div>
              <h3 class="text-xl font-semibold text-black">Where can I see how much a professional charges?</h3>
              <p class="mt-3 text-lg text-gray-500">Pricing details, including packages offered, are clearly listed on each professional's profile for your convenience.</p>
            </div>
          </button>
          <button class="flex mb-8 pb-8 group w-full items-start justify-between border-b border-gray-100 text-left">
            <div>
              <h3 class="text-xl font-semibold text-black">How can I contact a professional?</h3>
              <p class="mt-3 text-lg text-gray-500">Contacting a professional is straightforward. Simply click the designated button on their profile, which will take you to your email to message them directly.</p>
            </div>
          </button>
          <button class="flex mb-8 pb-8 group w-full items-start justify-between border-b border-gray-100 text-left">
            <div>
              <h3 class="text-xl font-semibold text-black">How can I view a professionals profile?</h3>
              <p class="mt-3 text-lg text-gray-500">You can easily view a professional's profile by clicking on their name or profile picture from your search results.</p>
            </div>
          </button>
          <button class="flex mb-8 pb-8 group w-full items-start justify-between border-b border-gray-100 text-left">
            <div>
              <h3 class="text-xl font-semibold text-black">How can I leave a review for a professional?</h3>
              <p class="mt-3 text-lg text-gray-500">After working with a professional, you can leave a review on their profile to share your experience with others.</p>
            </div>
          </button>
          <button class="flex mb-8 pb-8 group w-full items-start justify-between border-b border-gray-100 text-left">
            <div>
              <h3 class="text-xl font-semibold text-black">Why hire professionals on LensFriends?</h3>
              <p class="mt-3 text-lg text-gray-500">LensFriends offers access to a diverse pool of talented professionals, ensuring you find the perfect match for your specific needs and preferences.</p>
            </div>
          </button>
          <button class="flex mb-8 pb-8 group w-full items-start justify-between border-b border-gray-100 text-left">
            <div>
              <h3 class="text-xl font-semibold text-black">Can I use the same email I used to create my customer account to become a professional?</h3>
              <p class="mt-3 text-lg text-gray-500">No, you cannot use the same email for both a customer and professional account. However, you can either create a professional account with a different email address or delete your customer account if you wish to use the same email for your professional profile.</p>
            </div>
          </button>

          <button class="flex group w-full items-start justify-between text-left">
            <div>
              <h3 class="text-xl font-semibold text-black">What do I do if a professional is not emailing me back?</h3>
              <p class="mt-3 text-lg text-gray-500">If you encounter communication issues, you can reach out to LensFriends customer support for assistance in resolving the matter.</p>
            </div>
          </button>
        </div>
      </details>
    </div>
    
    <div class="pt-16 md:pt-24 px-8 sm:px-20 md:pb-24 pb-16 bg-white rounded-4xl shadow mt-8">
      <details>
        <summary class="text-xl font-semibold uppercase text-gray-900">Professionals</summary>
        <div class="mt-8 ml-8">
          <details class="my-6">
            <summary class="text-xl font-semibold uppercase text-gray-900">General</summary>
            <div class="mt-8">
              <button class="flex mb-8 pb-8 group w-full items-start justify-between border-b border-gray-100 text-left">
                <div>
                  <h3 class="text-xl font-semibold mb-3">What is Lensfriends?</h3>
                  <p class="text-lg text-gray-500">LensFriends is a platform designed to help professionals showcase their photography and videography services, connecting them with potential customers.</p>
                </div>
              </button>
              <button class="flex mb-8 pb-8 group w-full items-start justify-between border-b border-gray-100 text-left">
                <div>
                  <h3 class="text-xl font-semibold text-black">What makes LensFriends different?</h3>
                  <p class="mt-3 text-lg text-gray-500">LensFriends offers professionals a platform to showcase their talents and services, providing visibility and opportunities to connect with customers effortlessly.</p>
                </div>
              </button>
              <button class="flex mb-8 pb-8 group w-full items-start justify-between border-b border-gray-100 text-left">
                <div>
                  <h3 class="text-xl font-semibold text-black">Who can use LensFriends?</h3>
                  <p class="mt-3 text-lg text-gray-500">LensFriends is tailored for photographers and videographers looking to expand their client base and grow their business.</p>
                </div>
              </button>
              <button class="flex mb-8 pb-8 group w-full items-start justify-between border-b border-gray-100 text-left">
                <div>
                  <h3 class="text-xl font-semibold text-black">How does it work?</h3>
                  <p class="mt-3 text-lg text-gray-500">Professionals can create a profile, customize it to highlight their unique offerings, and be matched with customers based on their preferences.</p>
                </div>
              </button>
              <button class="flex mb-8 pb-8 group w-full items-start justify-between border-b border-gray-100 text-left">
                <div>
                  <h3 class="text-xl font-semibold text-black">When is my profile shown to customers?</h3>
                  <p class="mt-3 text-lg text-gray-500">Your profile is visible to customers once you've subscribed to a paid plan.</p>
                </div>
              </button>
              <button class="flex mb-8 pb-8 group w-full items-start justify-between border-b border-gray-100 text-left">
                <div>
                  <h3 class="text-xl font-semibold text-black">How do I know what my profile looks like to customers?</h3>
                  <p class="mt-3 text-lg text-gray-500">You can preview your profile from a customer's perspective to ensure it accurately represents your business.</p>
                </div>
              </button>
              <button class="flex mb-8 pb-8 group w-full items-start justify-between border-b border-gray-100 text-left">
                <div>
                  <h3 class="text-xl font-semibold text-black">How can I make my business stand out?</h3>
                  <p class="mt-3 text-lg text-gray-500">Enhance your profile with compelling visuals, detailed descriptions, and positive reviews to attract potential customers.</p>
                </div>
              </button>
              <button class="flex mb-8 pb-8 group w-full items-start justify-between border-b border-gray-100 text-left">
                <div>
                  <h3 class="text-xl font-semibold text-black">Is there a limit to how many photos or videos I can upload in my gallery?</h3>
                  <p class="mt-3 text-lg text-gray-500">Yes, there is a limit to the number of media files you can upload in your gallery. Each professional can upload up to 20 photos, while videographers can upload up to 3 videos. Be selective in choosing the best examples of your work to showcase your talent effectively.</p>
                </div>
              </button>
              <button class="flex mb-8 pb-8 group w-full items-start justify-between border-b border-gray-100 text-left">
                <div>
                  <h3 class="text-xl font-semibold text-black">How do customers contact me?</h3>
                  <p class="mt-3 text-lg text-gray-500">Customers can contact you via email directly through LensFriends by clicking the designated button on your profile.</p>
                </div>
              </button>
              <button class="flex mb-8 pb-8 group w-full items-start justify-between border-b border-gray-100 text-left">
                <div>
                  <h3 class="text-xl font-semibold text-black">Why do I keep getting an error when trying to upload photos/videos?</h3>
                  <p class="mt-3 text-lg text-gray-500">If you're consistently encountering errors while uploading photos or videos, it may be due to exceeding the GB capacity allotted for each media file. Make sure to resize your photos or videos to ensure they comply with the size restrictions. If you continue to experience issues, feel free to reach out to LensFriends customer support for further assistance.</p>
                </div>
              </button>
              <button class="flex group w-full items-start justify-between text-left">
                <div>
                  <h3 class="text-xl font-semibold text-black">How much does LensFriends cost for professionals?</h3>
                  <p class="mt-3 text-lg text-gray-500">LensFriends offers three subscription options, including a free plan and two paid plans starting at $35 per month.</p>
                </div>
              </button>
            </div>
          </details>
          <details class="my-6">
            <summary class="text-xl font-semibold uppercase text-gray-900">Cost & Subscription</summary>
            <div class="mt-8">
              <button class="flex mb-8 pb-8 group w-full items-start justify-between border-b border-gray-100 text-left">
                <div>
                  <h3 class="text-xl font-semibold mb-3">Can customers find me with the free version?</h3>
                  <p class="text-lg text-gray-500">With the free version, your profile won't be included in customer searches, limiting your visibility.</p>
                </div>
              </button>
              <button class="flex mb-8 pb-8 group w-full items-start justify-between border-b border-gray-100 text-left">
                <div>
                  <h3 class="text-xl font-semibold mb-3">How do I cancel or change my subscription package?</h3>
                  <p class="text-lg text-gray-500">You can easily manage your subscription settings, including cancellation or upgrades, through your account settings or on your profile page.</p>
                </div>
              </button>
              <button class="flex mb-8 pb-8 group w-full items-start justify-between border-b border-gray-100 text-left">
                <div>
                  <h3 class="text-xl font-semibold mb-3">What is the refund policy?</h3>
                  <p class="text-lg text-gray-500">Please refer to LensFriends' refund policy for detailed information on refunds and cancellations.</p>
                </div>
              </button>
              <button class="flex group w-full items-start justify-between text-left">
                <div>
                  <h3 class="text-xl font-semibold mb-3">When do I have to cancel a subscription before I will get charged for another month/year?</h3>
                  <p class="text-lg text-gray-500">To avoid being charged for another billing cycle, cancel your subscription before the renewal date.</p>
                </div>
              </button>
            </div>
          </details>
          <details class="my-6">
            <summary class="text-xl font-semibold uppercase text-gray-900">Reviews</summary>
            <div class="mt-8">
              <button class="flex mb-8 pb-8 group w-full items-start justify-between border-b border-gray-100 text-left">
                <div>
                  <h3 class="text-xl font-semibold mb-3">How do I get reviews on my profile?</h3>
                  <p class="text-lg text-gray-500">Encourage satisfied customers to leave reviews on your profile, showcasing your skills and professionalism.</p>
                </div>
              </button>
              <button class="flex mb-8 pb-8 group w-full items-start justify-between border-b border-gray-100 text-left">
                <div>
                  <h3 class="text-xl font-semibold text-black">How do I ask previous clients for reviews?</h3>
                  <p class="mt-3 text-lg text-gray-500">Reach out to past clients and kindly request their feedback to help strengthen your profile.</p>
                </div>
              </button>
              <button class="flex group w-full items-start justify-between text-left">
                <div>
                  <h3 class="text-xl font-semibold text-black">How do I report a review?</h3>
                  <p class="mt-3 text-lg text-gray-500">If you encounter any inappropriate or misleading reviews, you can report them to LensFriends for review and potential removal.</p>
                </div>
              </button>
            </div>
          </details>
          <details class="mt-6">
            <summary class="text-xl font-semibold uppercase text-gray-900">Profile</summary>
            <div class="mt-8">
              <button class="flex mb-8 pb-8 group w-full items-start justify-between border-b border-gray-100 text-left">
                <div>
                  <h3 class="text-xl font-semibold mb-3">What is a profile?</h3>
                  <p class="text-lg text-gray-500">Your profile is your professional portfolio on LensFriends, showcasing your services, portfolio, reviews, and contact information.</p>
                </div>
              </button>
              <button class="flex mb-8 pb-8 group w-full items-start justify-between border-b border-gray-100 text-left">
                <div>
                  <h3 class="text-xl font-semibold mb-3">How do I know what my profile looks like to customers?</h3>
                  <p class="text-lg text-gray-500">You can preview your profile from a customer's perspective to ensure it accurately represents your business.</p>
                </div>
              </button>
              <button class="flex mb-8 pb-8 group w-full items-start justify-between border-b border-gray-100 text-left">
                <div>
                  <h3 class="text-xl font-semibold mb-3">How do I use the “calendar” feature?</h3>
                  <p class="text-lg text-gray-500">The calendar feature is located on your profile and service bar. It allows you to manage your availability by selecting the dates you are unavailable.</p>
                </div>
              </button>
              <button class="flex mb-8 pb-8 group w-full items-start justify-between border-b border-gray-100 text-left">
                <div>
                  <h3 class="text-xl font-semibold mb-3">How do I use the “edit sessions” feature?</h3>
                  <p class="text-lg text-gray-500">The Edit Sessions features is located on your profile page. With this feature, you can customize and update the types of sessions you offer to customers.</p>
                </div>
              </button>
              <button class="flex mb-8 pb-8 group w-full items-start justify-between border-b border-gray-100 text-left">
                <div>
                  <h3 class="text-xl font-semibold mb-3">How do I use the “edit price packages” feature?</h3>
                  <p class="text-lg text-gray-500">Customize your pricing packages, located on your profile, to reflect your services with this feature.</p>
                </div>
              </button>
              <button class="flex mb-8 pb-8 group w-full items-start justify-between border-b border-gray-100 text-left">
                <div>
                  <h3 class="text-xl font-semibold mb-3">How do i use the “edit gallery” feature?</h3>
                  <p class="text-lg text-gray-500">Keep your portfolio up-to-date by adding, removing, or rearranging photos and videos using the edit gallery feature.</p>
                </div>
              </button>
              <button class="flex group w-full items-start justify-between text-left">
                <div>
                  <h3 class="text-xl font-semibold text-black">Why do I keep getting an error when trying to upload photos/videos?</h3>
                  <p class="mt-3 text-lg text-gray-500">If you're consistently encountering errors while uploading photos or videos, it may be due to exceeding the GB capacity allotted for each media file. Make sure to resize your photos or videos to ensure they comply with the size restrictions. If you continue to experience issues, feel free to reach out to LensFriends customer support for further assistance.</p>
                </div>
              </button>
            </div>
          </details>
        </div>
      </details>
    </div>

    <div class="text-center mb-10 mt-10">
      <h1 class="text-2xl md:text-4xl lg:text-5xl text-center !leading-tight uppercase mb-5" style="font-family: 'Playfair Display', serif !important;"> Contact Us </h1>
      <h3 class="text-2xl md:text-2xl lg:text-3xl text-center !leading-tight mb-5" style="font-family: 'Playfair Display', serif !important;">
        <a href="mailto:hello@lensfriendsapp.com" class="hover:underline text-black">hello@lensfriendsapp.com</a>
      </h3>

      <p class="leading-8 text-lg text-gray-700" style="font-family: 'Playfair Display', serif !important;">We’re here to help and answer any questions or concerns you may have. We value your business and try to answer all emails within 72 hours.</p>
    </div>
  </div>
</section>