<header class="flex justify-end items-center ml-auto">
  <button class="md:hidden text-xl mr-auto">☰</button>
  <a class="hidden md:inline-block mr-2 md:mr-4" href="#">
    <span class="text-sm">Home</span>
  </a>
  <%= link_to 'Sign Out', destroy_admin_session_path, method: :delete, class: 'hidden md:inline-block mr-2 md:mr-4 text-sm' %>
  <a class="inline-block mr-1 md:mr-4" href="#">
    <div class="flex items-center justify-center w-8 h-8">
      <svg xmlns="http://www.w3.org/2000/svg" width="14" height="16" viewBox="0 0 14 16" fill="none">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M7.58813 1C7.58813 0.723858 7.36428 0.5 7.08813 0.5C6.81199 0.5 6.58813 0.723858 6.58813 1V2.35248C5.50904 2.46638 4.49545 2.94649 3.7211 3.72084C2.82811 4.61382 2.32643 5.82498 2.32643 7.08785V10.1319C2.32643 10.4837 2.18668 10.8211 1.93793 11.0698C1.68918 11.3186 1.35179 11.4583 1 11.4583C0.723858 11.4583 0.5 11.6822 0.5 11.9583C0.5 12.2345 0.723858 12.4583 1 12.4583H13.1762C13.4524 12.4583 13.6762 12.2345 13.6762 11.9583C13.6762 11.6822 13.4524 11.4583 13.1762 11.4583C12.8244 11.4583 12.487 11.3186 12.2383 11.0698C11.9895 10.8211 11.8498 10.4837 11.8498 10.1319V7.08785C11.8498 5.82498 11.3481 4.61382 10.4551 3.72084C9.68079 2.9465 8.66722 2.46639 7.58813 2.35248V1ZM7.07281 3.3262C7.0779 3.32636 7.08301 3.32643 7.08813 3.32643C7.09326 3.32643 7.09836 3.32636 7.10345 3.3262C8.09557 3.33024 9.04618 3.72611 9.74802 4.42794C10.4535 5.13339 10.8498 6.09019 10.8498 7.08785V10.1319C10.8498 10.6093 10.9965 11.0715 11.265 11.4583H2.91126C3.17972 11.0715 3.32643 10.6093 3.32643 10.1319V7.08785C3.32643 6.09019 3.72275 5.13339 4.4282 4.42794C5.13005 3.7261 6.08068 3.33023 7.07281 3.3262ZM6.46737 14.1427C6.32881 13.9038 6.02284 13.8225 5.78398 13.9611C5.54512 14.0996 5.46381 14.4056 5.60237 14.6445C5.75336 14.9048 5.97007 15.1208 6.23082 15.271C6.49157 15.4212 6.7872 15.5002 7.08811 15.5002C7.38902 15.5002 7.68465 15.4212 7.9454 15.271C8.20615 15.1208 8.42286 14.9048 8.57385 14.6445C8.71241 14.4056 8.6311 14.0996 8.39224 13.9611C8.15338 13.8225 7.84741 13.9038 7.70885 14.1427C7.64577 14.2514 7.55522 14.3417 7.44628 14.4045C7.33734 14.4672 7.21383 14.5002 7.08811 14.5002C6.96239 14.5002 6.83888 14.4672 6.72994 14.4045C6.621 14.3417 6.53045 14.2514 6.46737 14.1427Z" fill="black"></path>
      </svg>
    </div>
  </a>
  <a class="inline-flex items-center" href="#">
    <img class="h-7 w-7 md:h-9 md:w-9 object-cover rounded-full" src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=facearea&amp;facepad=2&amp;w=256&amp;h=256&amp;q=80" alt="" />
  </a>
</header>